.folded-rectangle {
  --r: 40px; /* radius */

  width: 300px;
  aspect-ratio: 1.5;
  background: #519548;
  border-radius: var(--r) 0/calc(2*var(--r)) 0;
  padding-block: var(--r);
  --_m:#0000 100%,#000 calc(100% + 1px);
  mask:
    conic-gradient(#000 0 0) content-box,
    radial-gradient(var(--r) at 100% 100%,var(--_m)) 0 100% no-repeat,
    radial-gradient(var(--r) at 0    0   ,var(--_m)) 100% 0 no-repeat;
  mask-size: var(--r) var(--r);
}


.folded-rectangle {
  --r: 40px; /* radius */

  width: 300px;
  aspect-ratio: 1.5;
  background: #519548;
  border-radius: 0 var(--r)/0 calc(2*var(--r));
  padding-block: var(--r);
  --_m:#0000 100%,#000 calc(100% + 1px);
  mask:
    conic-gradient(#000 0 0) content-box,
    radial-gradient(var(--r) at 100% 0,var(--_m)) no-repeat,
    radial-gradient(var(--r) at 0 100%,var(--_m)) 100% 100% no-repeat;
  mask-size: var(--r) var(--r);
}